.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #333;
	padding: 10px;
}

button {
	cursor: pointer;
}

/*search area input and buttons*/
.searchArea {
	background-color: rgb(226, 227, 225);
	padding: 10px;
}

.topRow {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: -10px;
	margin-top: -10px;
}

.searchInput {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.searchInput input {
	margin-right: 5px;
}

.moreButtons button {
	margin-left: 5px;
	margin-right: 5px;
}

/*adding data entry*/
.addingEntry {
	background-color: rgb(242, 242, 242);
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
}

.line1 {
	border: 0.5px dashed #333;
	margin-top: -10px;
}

.box {
	border: 2px solid #333;
	padding: 15px;
	padding-right: 25px;
	padding-top: 0px;
	background-color: rgb(226, 227, 225);
}

.box h4 {
	margin-bottom: 5px;
	margin-top: 15px;
}

.box input {
	width: 100%;
	min-height: 30px;
	background-color: rgb(241, 241, 179);
	border: 1px solid #333;
	color: #36608b;
	padding-left: 3px;
	font-weight: bold;
	font-size: 16px;
}

.box .addDataButton {
	margin-top: 10px;
	text-align: right;
	margin-right: -7px;
}
