.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #333;
}

button {
	cursor: pointer;
}

/*search area input and buttons*/
.searchArea {
	background-color: rgb(226, 227, 225);
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.topRow {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: -10px;
	margin-top: -10px;
}

.searchInput {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.searchInput input {
	margin-right: 5px;
}

.moreButtons button {
	margin-left: 5px;
	margin-right: 5px;
}

/*adding data entry*/
.addingEntry {
	background-color: rgb(242, 242, 242);
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.line1 {
	border: 0.5px dashed #333;
	margin-top: -10px;
	margin-bottom: 20px;
}

.box {
	border: 2px solid #333;
	padding: 15px;
	padding-right: 25px;
	padding-top: 0px;
	background-color: rgb(226, 227, 225);
	margin-bottom: 0px;
}

.box h4 {
	margin-bottom: 5px;
	margin-top: 15px;
}

.box input {
	width: 100%;
	min-height: 30px;
	background-color: rgb(241, 241, 179);
	border: 1px solid #333;
	color: #36608b;
	padding-left: 3px;
	font-weight: bold;
	font-size: 16px;
}

.box .addDataButton {
	margin-top: 10px;
	text-align: right;
	margin-right: -7px;
	margin-bottom: -5px;
}

.box .addDataButton button {
	margin-left: 10px;
}

/*data display area*/
.dataDisplay {
	background-color: rgb(242, 242, 242);
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-right: 10px;
	margin-left: 10px;
	min-height: 710px;
}

.dataBox {
	border: 2px solid #333;
	padding: 15px;
	padding-right: 25px;
	padding-top: 0px;
	background-color: rgb(226, 227, 225);
	margin-bottom: 30px;
}

.line2 {
	border: 0.5px dashed #333;
	margin-top: -10px;
	margin-bottom: 20px;
}

.dataBox h4 {
	margin-bottom: 5px;
	margin-top: 15px;
}

.value {
	margin-right: -7px;
	min-height: 35px;
	display: flex;
	align-items: center;
	padding: 0px;
	padding-left: 3px;
	width: 100%;
	background-color: rgb(241, 241, 179);
	border: 1px solid #333;
	color: #36608b;
	font-weight: bold;
	font-size: 16px;
}

.value h5 {
	vertical-align: middle;
	margin: 0px;
}

.topButtons {
	margin-top: 10px;
	margin-right: -7px;
	margin-bottom: -10px;
	text-align: right;
}

.topButtons button {
	margin-left: 10px;
}

.bottomButtons {
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: right;
	margin-right: -7px;
}

.bottomButtons button {
	margin-left: 10px;
}

/*search display*/
.searchScreen {
	background-color: rgb(242, 242, 242);
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-right: 10px;
	margin-left: 10px;
	min-height: 710px;
}

.line3 {
	border: 0.5px dashed #333;
	margin-top: -10px;
	margin-bottom: 20px;
}

/*modals*/
/*save added entry modal*/
.saveAddedEntry {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	padding-top: 10%;
}

.saveAddedEntryContent {
	border: 2px solid #888;
	padding: 15px;
	background-color: #fefefe;
	max-width: 60%;
	text-align: center;
	margin: auto;
}

.saveAddedEntryContent button {
	margin-left: 5px;
	margin-right: 5px;
}

/*modal for confirming the changes have been made*/
.saveConfirm {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	padding-top: 10%;
}

.saveConfirmContent {
	border: 2px solid #888;
	padding: 15px;
	background-color: #fefefe;
	max-width: 60%;
	text-align: center;
	margin: auto;
}

.saveConfirmContent button {
	margin-left: 5px;
	margin-right: 5px;
}

/*modal to confirm that added data entry will be cancelled*/
.cancelAdd {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	padding-top: 10%;
}

.cancelAddContent {
	border: 2px solid #888;
	padding: 15px;
	background-color: #fefefe;
	max-width: 60%;
	text-align: center;
	margin: auto;
}

.cancelAddContent button {
	margin-left: 5px;
	margin-right: 5px;
}

/*modal confirming the cancelling of a data entry*/
.deletingEntry {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	padding-top: 10%;
}

.deletingEntryContent {
	border: 2px solid #888;
	padding: 15px;
	background-color: #fefefe;
	max-width: 60%;
	text-align: center;
	margin: auto;
}

.deletingEntryContent button {
	margin-left: 5px;
	margin-right: 5px;
}
